
.card-list {
  background-size: cover;
  background-position: center;
  height: 274px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 3px;
}

.list-title {
  padding: 10px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  color: white;
  opacity: 0.9;

   &:hover{
    color: white;
    opacity: 1;
   }
}

.card-movie {
  display: flex;
  overflow: hidden;
  height: 200px;
  width: 480 px;
  background: white;

  img {
    height: 100%;
    width: 140px;
    object-fit: cover;
  }
}

.card-movie-info{
  font-family: 'Raleway', sans-serif;
  color: grey;
  padding: 10px;

  h1 {
    font-size: 24px;
    font-family: 'Koulen', cursive;
  }

  h3 {
    font-size: 14px;
    font-weight: 200;
  }

  p {
    font-size: 12px;
    font-weight: lighter;
  }
}
